/* ! Mobile Device CSS design  */
@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 44px;
    line-height: 45px;
  }
  h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
  /* Header Design  */

  .header-top .logo {
    font-size: 20px;
    line-height: 53px;
  }
  .header-top nav {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu img {
    width: 40px;
    height: 40px;
  }
  .header-hero .hero-title {
    width: 100%;
  }

  /* Features Section Design */
  .features {
    grid-template-columns: 1fr;
  }
  .features-left {
    grid-template-columns: 1fr;
  }
  .features-right {
    width: 100%;
    margin: 20px 0px;
  }
  .features-details {
    flex-direction: column;
    margin-top: 20px;
  }
  .features-details-left {
    padding-right: 0;
  }

  .features-details-image {
    position: sticky;
    margin-top: 20px;
  }
  .experience {
    padding: 20px;
    left: -20px;
    bottom: -50px;
  }

  /* Facts Style  */
  /* .facts {
    margin: 87px 0px;
  }
  .facts p {
    max-width: 542px;
  } */
  .facts-point-box {
    flex-direction: column;
    margin: 20px 0;
    gap: 15px;
  }
  .box {
    width: 100%;
  }
  .box:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border: 1px solid #fff;
  }
  .box img {
    width: 65px;
    height: 65px;
  }
  .sponspors-image {
    gap: 20px;
    flex-direction: column;
  }
  /* Footer Design  */
  .footer p {
    font-size: 14px;
  }
}
